.bold {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}

.input_form_group:not(:last-child) {
    margin-bottom: 20px;
}

.input_form_group:not(:last-child) button.add_button {
    display: none;
}

#resume_container {
    position: sticky;
    top: 2vh;
}

.resume_side {
    padding: 0.5cm 1.4cm 0.49cm 1.4cm;
    width: 21.25cm;
    height: 29.95cm;
    border-radius: 2px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    animation-duration: 1.9s;
    animation-name: slide_up;
}

.input_form {
    animation-duration: 2s;
    animation-name: slide_down;
}

.item_title {
    font-size: 10pt;
}

.item_title span {
    font-size: 10.5pt;
}

.detail_input_field_container {
    border-radius: 5px;
    border: 1px solid #093652;
}

.detail_input_field {
    border-radius: 5px;
    font-size: 9pt;
}

.input_field {
    border-radius: 5px;
    font-size: 9pt;
    border: 1px solid #093652;
}

.input_field:focus,
.detail_input_field:focus {
    outline: none;
}

.print_button {
    position: relative;
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 13pt;
    opacity: 0.6;
}

.print_button img {
    height: 35px;
}

.print_mode {
    transform: translateY(-2vh);
}

.form_button {
    background-color: #093652;
    width: 4.5rem;
    height: 2.5rem;
    border-radius: 5px;
    color: #ebebeb;
}

.form_button:hover {
    background-color: #d4d4d4;
    color: #093652;
}

.add_description_button {
    width: 7rem;
}

.add_item_button {
    width: 8rem;
}

.import_input {
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #ebebeb;
    background-color: #093652;
}

.import_input:hover {
    background-color: #d4d4d4;
    color: #093652;
}

.horizontal_divider {
    position: relative;
    width: 100%;
    height: 0.5px;
    background-color: black;
}

.full_name {
    font-size: 28pt;
}

.full_name p:first-letter {
    font-size: 34pt;
}

.section_header {
    font-size: 12pt;
    transform: translateX(-2px);
}

.section_header p:first-letter {
    font-size: 16pt;
}

@keyframes slide_down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slide_up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@media print {
    @page {
        margin: 0;
    }
    .resume_side {
        box-shadow: none;
    }
    .relative {
        display: none;
    }
}
