.input_form h2 {
    margin-left: 12px;
    font-size: 14pt;
    color: #2d5374;
}

.input_form section {
    margin: 20px 10px;
}

.input_field {
    width: 95%;
    height: 37.5px;
    margin-top: 7px;
}

.input_field input {
    border-radius: 5px;  
    height: 100%; 
    border: 1px solid #2d5374;
}