@tailwind base;
@tailwind components;
@tailwind utilities;

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

@font-face {
    font-family: 'TW Cen MT';
    src: local("TW Cen MT"),
        url("./assets/TW Cen MT.TTF") format("truetype");
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* default 10px */
    font-size: 80%;
}
  
body {
    box-sizing: border-box;
    margin-bottom: 21px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 20px;
    font-family: 'TW Cen MT';
}

form {
    border: 1px solid #093652;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
  
h2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
}
  
h3 {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 0;
}
  
h4 {
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0;
}